.p-multiselect {
  border-radius: var(--border-radius-md) !important;
  border: 1px solid var(--surface-border) !important;
  transition: all 0.15s ease !important;
  background: #ffffff !important;
  min-height: 2.5rem !important;
}

.p-multiselect .p-multiselect-label-container {
  padding: 0 0 0 0.85rem !important;
}

.p-multiselect .p-multiselect-label {
  padding: 0.5rem 0.85rem 0.5rem 0 !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
}

.p-multiselect .p-multiselect-label.p-placeholder {
  color: #a1a1aa !important;
}

.p-multiselect .p-multiselect-trigger {
  width: 2.25rem !important;
  min-width: 2.25rem !important;
  border: none !important;
  background: transparent !important;
  color: #71717a !important;
}

.p-multiselect:not(.p-disabled).p-focus,
.p-multiselect:not(.p-disabled).p-inputwrapper-focus {
  border-color: #09090b !important;
  box-shadow: 0 0 0 2px rgba(9, 9, 11, 0.05) !important;
  outline: none !important;
}

.p-multiselect.p-invalid {
  border-color: #ef4444 !important;
  box-shadow: none !important;
}

.p-multiselect-panel {
  border-radius: var(--border-radius-md) !important;
  border: 1px solid #e4e4e7 !important;
  padding: 0.35rem !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03) !important;
  background: #ffffff !important;
}

.p-multiselect-panel .p-multiselect-header {
  padding: 0.35rem 0.25rem 0.5rem;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid #e4e4e7;
}

.p-multiselect-panel .p-multiselect-item {
  padding: 0.5rem 0.65rem !important;
  border-radius: 0.25rem !important;
  font-size: 0.875rem !important;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  background: #f4f4f5 !important;
  color: #09090b !important;
}
